* {
    @import url("fontes/idroid.otf")
    font-family: idroid, Arial, Helvetica, sans-serif;
}

body {
    background-color: #84e1ad;
    margin: 0px;
}

header {
    background-image: linear-gradient(#3cda84, #1a5c38);
    margin: 0px;

}

nav#links > a {
    text-decoration: none;
    color: white;
    margin-right: 10px;

}

header > h1#titulo, p#sub-titulo {
    margin: 0px;
    padding: 20px;
    text-align: center;
}

main > h1 {
    margin: 0px;
    padding: 10px;
}
main {
    background-color: white;
    box-shadow: 1px 3px 6px black;
    text-align: center;
    width: 75%;
    height: 75%;
    margin: auto;
}
